@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Oxygen:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary-color: #d80707; 
    --secondary-color: #092168;
    --accent1-color: #17a2e2;
    --accent2-color: #f8f8f8;
    --heading-font: "Macondo", "Oxygen";
    --paragraph-font: "Oxygen", "Macondo";
}
.container {
    position: relative;
    margin: auto; /* Center it */
}
  
.container .content {
    position: absolute; /* Position the background text */
    top: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #fff; /* Grey text */
    width: 100%; /* Full width */
    padding: 1rem; /* Some padding */
}

body {
    font-family: var(--paragraph-font);
    padding: 1rem;
    margin: 1rem auto;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h1, h2, h3, h5, h6 {
    font-size: 25px;
    font-family: var(--heading-font);
    margin: 0;
}
h3 {
    font-family: var(--paragraph-font);
    font-size: 20px;
}

footer {
    color: #f8f8f8;
    position: relative;
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    justify-items: center;
}
/* Style the header section */
header {
    display: grid;
    grid-template-columns: 150px auto;
     /* Dark background color */
    color: #fff; /* Light text color */
    padding: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
#darkBtn {
    width: 35px;
    box-shadow: none;
    position: absolute;
    top: 50px;
    right: 10rem;
    cursor: pointer;
}
/* CSS rules for darkmode */
header.dark,
footer.dark {
    background-color: rgb(0, 50, 107);
}
h2.dark {
    color: var(--accent2-color);
}
body.dark {
    background-color: black;
}
header.dark,
footer.dark,
nav.dark,
section.dark,
h1.dark,
section.dark a{
    color: var(--accent2-color);
    
}
section.dark h2, section.dark h3{
    color: var(--accent1-color);
}

h1.dark {
    border-bottom: 1px solid #e4e4e7;
}

/* Style the logo */
.logo {
    max-width: 100%;
    margin-left: 50px;
    margin-top: 15px;
    
}
#logo_link {
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}

/* Style the navigation links */
nav {
    display: flex;
    justify-content: space-evenly;
    
    
}
nav ul {
    list-style: none;
    margin: -90px 0;
    padding: 25px 0px;
}
.active {
    background: rgba(61, 21, 238, 0.2);
    height: 50px;
}
nav a {
    color:#f8f8f8; /* White text color */
    text-align: center;
    font-size: 25px;
    text-decoration: none; /* Remove underlines */
    margin: 0 50px; /* Add some spacing between links */
    padding: 15px;
} 
nav a:hover {
    background-color: none;
    color: var(--primary-color);
}

.menuLinks {
    transition: 0.5s ease-in-out;
    max-height: 0;
    display: flex;
    list-style: none;
}

.menuLinks li {
    margin: 0;
}
.menuLinks a {
    color: white;
    text-decoration: none;
}
.callToAction {
    display: block;
    padding: 1rem;
    width: 250px;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: yellow;
    opacity: 0.7;
    color: white;
    border: none;
    border-radius: .5rem;
}
.callToAction:hover {
    background: var(--secondary-color);
}

/* Style the hero section */
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
    
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 2/2;
}
#hero-msg h1 {
    background-size: cover;
    text-align: center;
    color: #0A0921;
    font-family:'Macondo', 'Oxygen';
    font-size: 50px;
    font-weight: bold;
    margin: 50px 0;
}
#hero-msg h4{
    text-align: center;
    color: var(--accent2-color);
    font-size: 25px;
    font-weight: 600;

}
#hero-img {
    width: 100%;
    height: auto;
}
.button-box1 {
    text-align: center;
    color: var(--secondary-color);
    margin: 50px 0;
   
}
.book1 {
    font-size: 22px;
    background-color: var(--primary-color); /*background color */
    color: #f8f8f8; /* White text color */
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px; 
}
.button-box {
    text-align: left;
    color: var(--secondary-color);
    margin: 50px 0;
   
}
.book {
    font-size: 22px;
    background-color: var(--primary-color); /*background color */
    color: #f8f8f8; /* White text color */
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 10px; 
}
main section {
    text-align: center;
}
.develop p a{
    font-size: 1.2em;
    text-decoration: none;
    color: var(--accent2-color);
    padding: 10px 50px;
    
}
.develop p a:hover {
    text-decoration: underline;
    color: var(--primary-color);

}
.social img{
    padding: 10px 10px;
    size-adjust: 50px;
    width: 50px;
    height: 50px;
    justify-items: right;
}
    
/* Style the cards within the grid */
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    padding: 20px;
    margin: 0;
}
#plane-img {
    width: 100%;
    height: auto;
    grid-row: 1/2;
    grid-column: 7/11;
    margin: 70px 0;
}
.vehicle {
    
    font-size: 1.4em;
    line-height: 1.5;
    color: #100808;
    text-align: left;
    padding: 35px;
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/2;
    justify-content: center;
    
}
.vehicle h3{
    color: var(--accent1-color);
    font-size: 50px;
    font-family: 'Macondo', 'Oxygen';
    margin-bottom: 30px;
    font-weight: 600;
}
.vehicle2 {
    line-height: 1.5;
    font-size: 1.5em;
    color: #100808;
    text-align: left;
    padding: 35px;
    width: 100%;
    grid-column: 6/12;
    grid-row: 1/2;
    justify-content: center;
    
}
.suv-card {
    padding: 20px;
    text-align: center;
    margin: 150px -130px;
    border-radius: 5px;
    display: block;
    width: 100%;
    grid-column: 2/5;
    grid-row: 3/4;
}
.car-card {
    padding: 20px;
    text-align: center;
    margin: 150px -90px;
    border-radius: 5px;
    display: block;
    width: 100%;
    grid-column: 5/8;
    grid-row: 3/4;
}
.truck-card {
    padding: 20px;
    text-align: center;
    margin: 150px -50px;
    border-radius: 5px;
    display: block;
    width: 100%;
    grid-column: 8/11;
    grid-row: 3/4;
}
/* Style the card images */
.card {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.sidebar .card {
    margin: 1rem;
}

.card .calendar {
    width: 100%;
}

.card ul{
    padding-left: 2rem;
}

.card h2, h3, span {
    padding-top: 0.5rem;
}

.card li, p {
    padding-top: 0.5rem;
}
.card-img {
    
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
main section img {
    box-sizing: border-box;
}
.icon {
    width: 80px;
    padding-top: 10px;
}

/* Style the card titles */
h2 {
    font-size: 24px;
    margin: 0;
}
#background {
    height: 500px;
    background-image: linear-gradient(var(--secondary-color), var(--accent2-color));
    width: 100%;
    margin: 50px 0;
    display: grid;
    grid-column: 1/11;
    grid-row: 9/10;
    padding-bottom: 10px;
}
.about-img {
    width: 70%;
    grid-column: 2/4;
    margin: 110px 50px;
}
.weather{
    width: 100%;
    text-align: center;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--secondary-color);
    padding: 15px;
    grid-column: 4/10;
}

/* Client review */
.review-section {
    width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    grid-row: 10/11;
    grid-column: 1/11;
}

.review-section h2 {
    color: #0A0921;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Oxygen', 'Macondo';
    margin-top: 40px;
}
.review-section h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: 'Oxygen', 'MAcondo';
    color: #0A0921;
    margin-top:40px;
}

.review-section p {
    color: #777;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.testimonial {

    margin: 20px;
}

.testimonial p {
    font-size: 1.1em;
    color: #0A0921;
    margin-top: 40px;
}

.testimonial h3 {
    margin: 15px 0 5px;
    color: #333;
}

.rating .star {
    font-size: 24px;
    color: #FFD700;
}

button.prev, button.next {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button.prev:hover, button.next:hover {
    background-color: #ddd;
}

.dots {
    margin-top: 20px;
}

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: #007BFF;
}

.open .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}
.grid-container {
    display: grid;
    justify-content: center;
    margin: 1rem;
    align-items: flex-start;
    gap: 1rem;
}
.contact {
    padding: 1rem auto;
}
.contact div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.contact img{
    margin: 50px;
}
.cardreason {
width: 100%;
grid-column: 2/10;
grid-row: 4/8;
display: grid;
}
.reason {
    width: 100%;
    grid-row: 4/4;
    grid-column: 2/10;
    margin: 50px;
    font-weight: bold;
    text-align: left;
}
.reason h2 {
    color: var(--secondary-color);
    font-size: 22px;
    font-family: 'Macondo', 'Oxygen';
}
.reason h3{
    color: #0A0921;
    font-size: 45px;
    font-family: 'Oxygen', 'Macondo';
}
/* Specific cards */
.venue-card,
.decoration-card,
.media-card,
.sourcing-card,
.gift-card,
.logistics-card,
.theme-card,
.graphic-card,
.lights-card {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    border: 5px solid #fff;
    transition: .9s;
    box-shadow: 5px 5px 10px #14120f;
    font-size: 22px;
}
.venue-card {
    margin: 20px 0;
    grid-column: 2/4;
    grid-row: 5/6;
}
.decoration-card {
    margin: 20px 0;
    grid-column: 5/7;
    grid-row: 5/6;
}
.media-card {
    margin: 20px 0;
    grid-column: 8/10;
    grid-row: 5/6;
}
.sourcing-card {
    margin: 20px 0;
    grid-column: 2/4;
    grid-row: 6/7;
}
.gift-card {
    margin: 20px 0;
    grid-column: 5/7;
    grid-row: 6/7;
}
.logistics-card {
    margin: 20px 0;
    grid-column: 8/10;
    grid-row: 6/7;
}
.theme-card {
    margin: 20px 0;
    grid-column: 2/4;
    grid-row: 7/8;
}
.graphic-card {
    margin: 20px 0;
    grid-column: 5/7;
    grid-row: 7/8;
}
.lights-card {
    margin: 20px 0;
    grid-column: 8/10;
    grid-row: 7/8;
} 

/* About page */
.section {
    width: 100%;
    height: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    grid-column: 1/11;
    grid-row: 4/6;
}
.tabs {
    display: flex;
    justify-content: space-evenly;
}
.tab {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-bottom: 2px solid transparent;
}
.tab.active {
    border-bottom: 2px solid #ffcc00;

}
.context {
    display: none;
    background-color: transparent;
}
.context.active {
    display: block;
    transition: all;
}
.grid-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.grid-item img {
    width: 70%;
    height: auto;
    

}
.grid-contain h3 {
    color: #0A0921;
    font-size: 30px;
    font-weight: 600;
    text-align: start;
    margin: 40px 0;
}
.grid-contain p {
    font-size: 1.3em;
    line-height: 1.5;
    color: #0A0921;
    font-family: "Oxygen", "Macondo";

}
#abt-background {
    height: auto;
    width: 100%;
    margin:  50px 0;
    grid-column: 1/11;
    grid-row: 7/10;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    color: #fff; /* Light text color */
    background: rgba(0, 0, 0, 0.1);
}
.msg {
    background: rgba(0, 0, 0, 0.6); /* Dark overlay for text readability */
    background-size: cover;
    width: 100%;
    margin:  50px 0;
    padding: 30px;
    grid-column: 1/11;
    grid-row: 7/10;
    text-align: left;
   
}
.msg h2{
    font-family: 'Rock Salt', 'Bodoni Moda';
    color: var(--accent2-color);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    
}
.msg h3{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: left;
    margin: px 0;
    color: var(--accent2-color);
}
.msg p {
    font-size: 1.3em;
    line-height: 1.5;
    color: var(--accent2-color);
   
}
.locations {
    margin-top: 50px;
}
.locations h3 {
    font-size: 1.5rem;
    margin-top: 20px;
}
.locations p {
font-size: 1.3em;
}
 /*Services page*/
/* Style the cards within the grid */
.custom_services {
    padding: 20px;
    text-align: justify;
    font-family: 'Oxygen', 'Macondo';
    font-size: 1.4em;
    line-height: 1.5;
    margin: 50px 0;
    grid-column: 2/6;
    grid-row: 1/3;
}
.custom_services h2 {
    font-family: 'Macondo', 'Oxygen';
    color: var(--secondary-color);
    font-size: 50px;
}
.tariff_services {
    padding: 20px;
    text-align: justify;
    font-family: 'Oxygen', 'Macondo';
    font-size: 1.4em;
    line-height: 1.5;
    margin: 50px 0;
    grid-column: 6/10;
    grid-row: 4/6;
}
.tariff_services h2 {
    font-family: 'Macondo', 'Oxygen';
    color: var(--secondary-color);
    font-size: 50px;
}
.storage_services{
    padding: 20px;
    text-align: justify;
    font-family: 'Oxygen', 'Macondo';
    font-size: 1.4em;
    line-height: 1.5;
    margin: 50px 0;
    grid-column: 2/6;
    grid-row: 7/9;
}
.storage_services h2 {
    font-family: 'Macondo', 'Oxygen';
    color: var(--secondary-color);
    font-size: 50px;
}

.custom-card {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: block;
    grid-column: 7/11;
    grid-row: 1/3;
}
.tariff-card {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    display: block;
    grid-column: 2/6;
    grid-row: 4/6;
}
.storage-card {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    display: block;
    grid-column: 7/11;
    grid-row: 7/9;
}
.services-img {
    width: 100%;
    height: 400px;
    border: 5px solid yellow;
    transition: transform .5s;
    box-shadow: 5px 5px 10px var(--primary-color);
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

/*Contact Us page*/
.quote {
    font-size: 25px;
    color: #100808;
    text-align: left;
    padding: 35px;
    grid-column: 1/6;
    grid-row: 1/2;
    justify-content: center;
    
}
.quote h3{
    color: #100808;
    font-size: 50px;
    font-family: 'Oxygen', 'Macondo';
}
.cards {
    padding: 1rem;
    margin: 0;
    grid-row: 6/6;
    display: block;
    width: 100%;
    grid-column: 5/7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.call-card {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 10px solid var(--accent2-color);
    box-shadow: 10px 20px 10px var(--secondary-color);
    transition: .10s;
}
.office-card {
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    border: 10px solid var(--accent2-color);
    transition: .10s;
    box-shadow: 10px 10px 10px var(--secondary-color);
    
}
.mail-card {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 10px solid var(--accent2-color);
    transition: .10s;
    box-shadow: 10px 10px 10px var(--secondary-color);
}
.fieldset {
    grid-column: 5/11;
    grid-row:1/5;
}
.wf1 fieldset {
    margin:1rem auto;
    border: 1px solid #999;
    border-radius: 20px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px var(--accent2-color);
    background-image:  linear-gradient(var(--secondary-color), var(--accent2-color));
    padding: 1rem;
    width: 900px;
    grid-template-rows: 1fr 1fr;
}

.wf1 h2 {
    color: var(--primary-color);
    max-width: 100%;
}

.wf1 input {
    border-radius: 6px;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
    color: var(--accent2-color);
}

.wf1 input[type="radio"] {
    margin-right: 10px;
    vertical-align: middle;
}

.wf1 input[type="text"],
.wf1 input[type="password"],
.wf1 input[type="email"],
.wf1 input[type="tel"],
.wf1 textarea {
    background: #d1d1d1;
    display: block;
    border: 1px solid #999;
    padding: .75rem;
    width: 100%;
    max-width: 800px;
    appearance: none;
    font-size: 20px;
}
.wf1 textarea[id="msg"] {
    background: #d1d1d1;
    display: block;
    border: 1px solid #999;
    padding: .75rem;
    width: 100%;
    max-width: 800px;
    height: 300px;
    appearance: none;
    font-size: 20px;
}

.wf1 input[type="submit"] {
    border: none;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: aliceblue;
    margin: 2rem 0 2rem 0;
    font-size: 1.2rem;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    box-shadow: 1px 1px 4px #999;
}

.wf1 input[type="submit"]:hover {
    transform: scale(1.02);
}

.wf1 input:required {
    border-left: 8px solid var(--primary-color);
}

.wf1 input:required:valid {
    border-left: 8px solid green;
}

@keyframes to-top {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateY(100%);
        opacity: 1;
    }
}

@keyframes to-left {
    0% {
        transform: translatex(230%);
        opacity: 1;
    }

    100% {
        transform: translatex(0);
        opacity: 1;
    }
}

@keyframes to-right {
    10% {
        transform: translatex(0);
        opacity: 1;
    }

    100% {
        transform: translatex(-150%);
        opacity: 1;
    }
}

@keyframes showtime {
    0% {
        transform: translatex(250%);
        opacity: 1;
    }

    100% {
        transform: translatex(0%);
        opacity: 1;
    }
}

@keyframes hidetime {
    0% {
        transform: translatex(0%);
        opacity: 1;
    }

    100% {
        transform: translatex(-370%);
        opacity: 1;
    }
}

#hamburgerButton {
    font-size: 2rem;
    border: none;
    background: var(--secondary-color);
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    width: 50px;
    justify-self: flex-end;
    margin-right: 1rem;
}

.marker {
    visibility: hidden;
}
.thankyou {
    padding: 5rem;
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-size: 20pt;
    text-align: left;
    margin-bottom: 100%;
    border-radius: 10px;
}
.banner {
    display: flex;
    justify-content: center;
    background-color: yellow;
    padding: 1.5rem;
}

.banner button {
    height: 46px;
    width: 52px;
    margin: 0 0.5rem;
}
