/* Media Queries for larger screens */
@media screen and (min-width: 900px) {
    .menuLinks {
        display: flex;
        justify-content: space-around;
    }
    .hamburger {
        display: none; /* Show the hamburger on mobile view */
    }
    .home-grid section, .home-grid img {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .review-section .testimonial {
        max-width: 100%;
    }
}

    

@media screen and (min-width: 600px) {
    .hamburgerButton {
        display: flex; /* Hide the hamburger on desktop view */
    }

    .menulinks {
        display: none; /* Show the nav links on desktop view */
    }
    header img.logo {
        width: 100%;
    }

    #hero-img {
        max-height: 500px;
    }

    .home-title {
        font-size: 32px;
    }

    .button-box1 a.book1 {
        font-size: 18px;
        padding: 15px 25px;
    }

    .home-grid {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .home-grid section, .home-grid img {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .review-section .testimonial {
        max-width: 100%;
    }
    .cardreason{
        max-width: 100%;
    }
}